body{
    margin:0;
    padding:0;
    background-color:#2b2b2b; /* gris oscuro pero más claro que el negro */
    color:white;
    font-family:Arial, sans-serif;
}

.container {
    background:#3c3c3c; /* gris un poco más claro */
    padding:30px;
    max-width:600px;
    margin:80px auto;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.6);
}

input, select, textarea {
    width:100%;
    padding:10px;
    margin-top:8px;
    margin-bottom:15px;
    border-radius:6px;
    border:none;
    background:#555;
    color:white;
}

button {
    padding:12px;
    background:#1f8ef1;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover {
    opacity:0.9;
}

form, table {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

table {
    width: 95%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 8px;
}
