<!DOCTYPE html>
<html>
<head>
    <title>Login con Discord</title>
    <style>
        body {
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
            font-family: Arial;
        }
        a {
            background: #5865F2;
            color: white;
            padding: 20px 40px;
            text-decoration: none;
            font-size: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>

<a href="/login">Iniciar sesión con Discord</a>

</body>
</html>
